* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}	
	body {
		margin: 0;
		padding: 0;
		width: 200 auto;
		font-family: Georgia, Times, "Times New Roman", serif
		}

	.top-container {
		position: fixed;
		top: 0;
		border-bottom: solid grey;
		width: 100%;
		height: 70px;
		padding: 0px 50px 0 50px;
		margin: 0px;
	}
	#name {
		position: absolute;
		bottom: 0;
		float: left;
		list-style-type: none;
		text-align: center;
		font-size: 25px;
		color: white;
		background-color: #4aaaa5;
		padding: 20px 20px;
	}

	#nav-links {
		position: relative;
		bottom: 0;
		float: right;
		list-style-type: none;
		overflow: hidden;
		display: block;
		color: grey;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;

	}

	.container {
		margin-top: 100px;
		clear: both;
	}
